#LS{
    width: 50%;
    height: 450px;
    float: left;
    position: absolute;
    top: 50px;
    left: 20px;
}
body{
    background-color: #32402F;
}
#RS{
    float: right;
    width: 50%;
}
#button1{
    float: right;
    position: absolute;
    right: 15%;
    top: 15%;
    color: #ffff; 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, #FF9900 0%, #FFA620 50%, #FFB340 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid #FF9900; 
}
#button1:hover{
    background: #1C6EA4;
}
#button1:active {
    background: #144E75;
}
#button2{
    float: right;
    position: absolute;
    right: 15%;
    top: 35%;
    color: #ffff; 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, #FF9900 0%, #FFA620 50%, #FFB340 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid #FF9900; 
}
#button2:hover{
    background: #1C6EA4;
}
#button2:active {
    background: #144E75;
}
#button3{
    float: right;
    position: absolute;
    right: 15%;
    top: 55%;
    color: #ffff; 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, #FF9900 0%, #FFA620 50%, #FFB340 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid #FF9900; 
}
#button3:hover{
    background: #1C6EA4;
}
#button3:active {
    background: #144E75;
}
#SD1{
    color: white;
    float: right;
    position: absolute;
    top: 20%;
    right: 8%;
}
#SD2{
    color: white;
    float: right;
    position: absolute;
    top: 40%;
    right: 15%;
}
#SD3{
    color: white;
    float: right;
    position: absolute;
    top: 60%;
    right: 15%;
}
#logo{
    position: absolute;
    left: 2.5%;
    top: 75%;
    height: 50px;
    width: 100px;
    color: #ffe6cc;
}
#Home{
    position: absolute;
    top: 76%;
    left: 15%;
    color: #ffe6cc;
}
#Idea{
    position: absolute;
    top: 76%;
    left: 25%;
    color: #ffe6cc;
}
#Donation{
    position: absolute;
    top: 76%;
    left: 35%;
    color: #ffe6cc;
}
#AboutUs{
    position: absolute;
    top: 76%;
    left: 45%;
    color: #ffe6cc;
}
header{
    font-size: 50px;
    font-weight: bold;
    color: #ffe6cc;
    font-family: sans-serif;
    position: absolute;
    top: 25px;
    left: 250px;
}